<form (ngSubmit)="submitQuote()" #goalForm='ngForm' let i='index'>

    <div class="row">
        <div class="col-md-1">
            <div class="form-group"></div>
            <label for="title">title:</label><br>
            <input type="text" class="form-control" id="title" [(ngModel)]="newQuote.title" name="title"
                #quote='ngModel' required><br>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>Title is required</p>
            </div>
        </div>
    </div>

    <label for="quotes">quote:</label><br>
    <div class="form-group">
        <input type="text" class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" #quote='ngModel'
            required><br>
        <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
            <p>Quote is required</p>
        </div>
    </div>
    <div>
        <label for="author">author:</label><br>
        <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #quote='ngModel'
            required><br>
        <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
            <p>author is required</p>
        </div>
        <button type="submit">Submit</button>
    </div>

    <!-- </form> -->